.DS_Store
public/.DS_Store

#################
## npm
#################

npm-debug.log
node_modules/

public/bower_components/
public/node_modules/
refactor/meancms/public/bower_components/bootstrap/
refactor/meancms/public/bower_components/jquery/
